In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

# MAKING TRAIN/TEST/VAL SPLIT
**EXAMPLE WITH COVTYPE DATASET**
1. Read in dataset
1. Remove Nan's
2. Label Encode non-numerical features
3. Split
4. Save datasets

In [2]:
#reading in dataset
df = pd.read_csv(r'C:\Users\smbm2\projects\CAT-Transformer\datasets\covertype\covtype.csv')

#label encode all non-numerical features
le = LabelEncoder()
df['Cover_Type'] = le.fit_transform(df['Cover_Type'])\

#Split based of ft-transformer paper: 371847 92962 116203
df_train, df_temp = train_test_split(df, train_size=371847, random_state=42)
df_val, df_test = train_test_split(df_temp, train_size=92962, random_state=42)

assert(df_train.shape[0] == 371847)
assert(df_val.shape[0] == 92962)
assert(df_test.shape[0] == 116203)

In [5]:
df_train['Soil_Type34'].value_counts()

0    370803
1      1044
Name: Soil_Type34, dtype: int64

In [6]:
df_train['Cover_Type'].value_counts()

1    181218
0    135568
2     22995
6     13228
5     11078
4      5965
3      1795
Name: Cover_Type, dtype: int64

In [4]:
df_val.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
512442,3247,94,21,541,86,1266,248,203,73,1768,...,0,0,0,0,0,0,0,0,0,0
247104,2185,96,21,330,78,420,249,203,72,256,...,0,0,0,0,0,0,0,0,0,5
116974,2828,129,24,85,26,4436,251,217,79,384,...,0,0,0,0,0,0,0,0,0,1
47874,3257,27,8,618,66,3617,217,222,141,2523,...,0,0,0,0,0,0,1,0,0,0
195857,3094,11,5,247,52,1786,215,230,152,2110,...,0,0,0,0,0,0,0,0,0,1

In [5]:
df_test.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
300052,2407,268,15,175,36,1501,179,245,204,551,...,0,0,0,0,0,0,0,0,0,5
448759,3003,114,9,342,67,218,236,231,125,1560,...,0,0,0,0,0,0,0,0,0,0
301501,3070,76,11,60,2,812,234,220,117,2012,...,0,0,0,0,0,0,0,0,0,0
67552,2985,253,10,626,87,5877,198,247,187,5950,...,0,0,0,0,0,0,0,0,0,1
568640,2515,95,11,285,72,864,238,223,114,939,...,0,0,0,0,0,0,0,0,0,1

In [6]:
#save csvs in a dataset folder in your directory
df_train.to_csv(r'C:\Users\smbm2\projects\CAT-Transformer\datasets\covertype\train.csv', index=False)
df_val.to_csv(r'C:\Users\smbm2\projects\CAT-Transformer\datasets\covertype\validation.csv', index=False)
df_test.to_csv(r'C:\Users\smbm2\projects\CAT-Transformer\datasets\covertype\test.csv', index=False)