In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

# MAKING TRAIN/TEST/VAL SPLIT
**EXAMPLE WITH COVTYPE DATASET**
1. Read in dataset
1. Remove Nan's
2. Label Encode non-numerical features
3. Split
4. Save datasets

In [11]:
#reading in dataset
ch = load_iris(as_frame=True)

df = pd.DataFrame(ch.frame)

#Splitting
df_train, df_temp = train_test_split(df, train_size=.70, random_state=42)
df_val, df_test = train_test_split(df_temp, train_size=.5, random_state=42)

print(df_train.shape[0])
print(df_val.shape[0])
print(df_test.shape[0])

105
22
23

In [12]:
df_train.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
81,5.5,2.4,3.7,1.0,1
133,6.3,2.8,5.1,1.5,2
137,6.4,3.1,5.5,1.8,2
75,6.6,3.0,4.4,1.4,1
109,7.2,3.6,6.1,2.5,2

In [13]:
df_val.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
73,6.1,2.8,4.7,1.2,1
22,4.6,3.6,1.0,0.2,0
30,4.8,3.1,1.6,0.2,0
31,5.4,3.4,1.5,0.4,0
12,4.8,3.0,1.4,0.1,0

In [14]:
df_test.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
32,5.2,4.1,1.5,0.1,0
145,6.7,3.0,5.2,2.3,2
108,6.7,2.5,5.8,1.8,2
16,5.4,3.9,1.3,0.4,0
146,6.3,2.5,5.0,1.9,2

In [17]:
# df_train.to_csv('/home/cscadmin/CyberResearch/CAT-Transformer/datasets/iris/train.csv', index=False)
# df_val.to_csv('/home/cscadmin/CyberResearch/CAT-Transformer/datasets/iris/validation.csv', index=False)
# df_test.to_csv('/home/cscadmin/CyberResearch/CAT-Transformer/datasets/iris/test.csv', index=False)


#save csvs in a dataset folder in your directory
df_train.to_csv(r'C:\Users\smbm2\projects\CAT-Transformer\datasets\iris\train.csv', index=False)
df_val.to_csv(r'C:\Users\smbm2\projects\CAT-Transformer\datasets\iris\validation.csv', index=False)
df_test.to_csv(r'C:\Users\smbm2\projects\CAT-Transformer\datasets\iris\test.csv', index=False)